body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Fredoka', 'Arial', sans-serif;
    font-size: x-large;
}

h1 {
    padding: 20px 50px;
    border: 2px dotted gray;
}

button {
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-family: 'Fredoka', 'Arial', sans-serif;
    margin-bottom: 30px;
    border-radius: 15px;
}

.title, .text-body {
    font-style: italic;
}

